<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="Dan Stewart" />

		<title>{{ title }} | Binder JS</title>

		<link rel="stylesheet" href="/main.css">
		<script src="/js/binder.js"></script>
	</head>

	<body>
		<!-- Header -->
		<h2>binder.js</h2>

		<!-- Nav -->
		<a href="/">Home</a>
		<a href="/playground">Playground</a>
		<a href="/guide/introduction">Guide</a>

		<!-- Content -->
		{{ content | safe }}
		{% block content %}{% endblock %}
	</body>
</html>
