@import "vars.css";
@import "util.css";

body {
    font-weight: 300;
    border-top: 5px solid var(--color-primary);
    margin-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px;

    & > code {
        margin-left: -5px;
    }
}

strong {
    font-weight: 600;
}

fieldset {
    padding: 15px;
}

code {
    color: #1d6d6d;
    font-weight: 500;
    background-color: transparent;
    padding: 0px;
}

pre {
    padding: 0px;
    border: 1px solid var(--color-lightGrey);
}

.copy {
    position: absolute;
    top: 30px;
    right: 12px;
    z-index: 999;
}

.nav {
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-sep {
    margin-bottom: 25px;
}

a.icon {
    height: 2.4rem;
    width: 2.4rem;
    padding: 0;
}
