---
title: Dynamic Frame
layout: "surround/guide_base.njk"
permalink: "guide/core-controllers/dynamic-frame/"
---

{% markdown %}

# Dynamic Frame

// TODO

<hr />

Next: [Why Binder?](/guide/why/)

{% endmarkdown %}
