{% set title = "Home" %}
{% extends "base.njk" %}
{% from "macros/render_controller.njk" import render_controller %}

{% block content %}
    <div class="container">
        <h4>
            <span class="mono">binder.js</span> is a basic JavaScript library to combine web components with server side rendered templates.
        </h4>

        <br />

        <h2>Basic Demo</h2>
        {{ render_controller('partials/click_counter.njk', open=true) }}
    </div>
{% endblock %}
