{% set title = "Home" %}
{% extends "surround/base.njk" %}
{% from "macros/render_controller.njk" import render_controller %}

{% block content %}
    <div class="container">
        <h2>What is it?</h2>
        <p>
            <span class="mono">binder.js</span> is a JavaScript library to help you build custom web components to use in your server rendered templates.
        </p>

        <br />

        <h2>Show me!</h2>
        {{ render_controller('partials/click_counter.njk', open=true) }}

        <br />

        <h2>Interested?</h2>
        <p>You can get started now by checking out the <a href="/quick-start">quick start</a> instructions or learn more from our <a href="/guide/introduction">guide</a>.</p>
    </div>
{% endblock %}
