---
title: Cookbook
layout: "surround/md_base.njk"
---

{% markdown %}

### Recipes

// TODO
- Show off some common-ish patterns that are worth documenting but not worth adding into the core library.
- eg.
    - Auto refresh only when tab is active
    - Adding loading spinners
    - etc...

{% endmarkdown %}

