---
title: Introduction
layout: "surround/guide_base.njk"
permalink: "guide/introduction/"
---

{% markdown %}

# Introduction to binder.js

### How it works

Binder is a lightweight library built on top of  [Web Components](https://developer.mozilla.org/en-US/docs/Web/Web_Components).  
If you're comfortable with Web Components already then great but if not don't worry, this guide assumes no prior knowledge.

### Goals

-   Work well with server rendered templates
-   Use existing DOM functionality, avoid reinventing the wheel
-   No build step

<hr />

Next: [Our First Controller](/guide/our-first-controller)

{% endmarkdown %}
