---
title: Lifecycle
layout: "surround/guide_base.njk"
permalink: "guide/lifecycle/"
---

{% markdown %}

# Lifecycle

// TODO: Explain the lifecycle of `init`, `render`, `connectedCallback`, `disconnectedCallback`, etc...

<hr />

Next: []()

{% endmarkdown %}

