---
title: Lifecycle
layout: "surround/guide_base.njk"
permalink: "guide/lifecycle/"
---

{% markdown %}

# Lifecycle

// TODO: Explain the lifecycle of `init`, `render`, `connectedCallback`, `disconnectedCallback`, etc...

<pre>
 ┌─────────────────┐          ┌──────────────────────┐           ┌────────┐              ┌──────────┐
 │                 │          │                      │           │        │              │          │
 │  constructor()  ├──────────►  connectedCallback() ├───────────► bind() ├──────────────►  init()  │
 │                 │          │                      │           │        │              │          │
 └─────────────────┘          └──────────────────────┘           └────┬───┘              └──────────┘
                                                                      │
                                                                      │
                                                                      │
                                                                 ┌────▼──────────────┐
                                                                 │ bindArgs()        │
                                                                 │                   │
                                                                 │ bindEvents()      │
                                                                 │                   │
                                                                 │ bindDataValues()  │
                                                                 └───────────────────┘
</pre>

<hr />

Next: [The Shadow DOM](/guide/the-shadow-dom/)

{% endmarkdown %}

