---
title: Registering
layout: "surround/guide_base.njk"
permalink: "guide/registering/"
---

{% markdown %}

# Registering

// TODO: Explain the process of registering a controller and optional overrides.

<hr />

Next: [The Shadow DOM](/guide/the-shadow-dom/)

{% endmarkdown %}
