---
title: Why?
layout: "surround/guide_base.njk"
permalink: "guide/why/"
---

{% markdown %}

### Why binder?

// TODO
- Comparison to other frameworks
- What binder does differently
- Who binder is for

{% endmarkdown %}
