---
title: Recipes
layout: "surround/guide_base.njk"
permalink: "guide/recipes/"
---

{% markdown %}

### Recipes

// TODO
- Show off some common-ish patterns that are worth documenting but not worth adding into the core library.
- eg.
    - Auto refresh only when tab is active
    - Adding loading spinners
    - Auto-registering controllers when importing script
    - etc...

---

Next: [Reference Docs](https://docs.binder.danstewart.dev/)

{% endmarkdown %}

