<click-counter :clicks=0>
    <p @render>Clicks: {this.args.clicks}</p>
    <button @click.eval.render="this.args.clicks++">Click me!</button>
</click-counter>

<script type="module">
    import { registerControllers, Controller } from '/static/js/binder/binder.js';
    registerControllers(Controller.withTag("click-counter"));
</script>

