<!-- HTML -->
<click-counter>
    <p @render>Clicks: ${this.data.clicks}</p>
    <button @click.prevent="this.count()">Click me!</button>
</click-counter>

<!-- JavaScript -->
<script type="module">
    import { registerControllers, Controller } from '/static/js/binder/binder.js';

    class ClickCounter extends Controller {
        init() {
            this.data.clicks = 0;
        }

        count() {
            this.data.clicks++;
            this.render();
        }
    }

    registerControllers(ClickCounter);
</script>

