<!-- HTML -->
<currency-picker :currency="GBP">
    <select @bind.render="this.currency">
        <option disabled selected>Please select a currency</option>
        <option value="AUD">Australian Dollars</option>
        <option selected value="GBP">British Pounds</option>
        <option value="EUR">Euros</option>
        <option value="USD">US Dollars</option>
    </select>

    <h4 @render>Chosen currency: ${this.currency}</h4>
</currency-picker>

<!-- JavaScript -->
<script type="module">
    // This example uses the core Controller component
    import { registerControllers, Controller } from '/static/js/binder/binder.js';
    registerControllers([ Controller, { name: "currency-picker" } ]);
</script>
