<on-off-switch>
    <!--
    Using the `@render` attribute here will re-render this element each time `render()` is called 
    Using `@render.eval` allows us to use JavaScript expressions in the template
    -->
    <button @render.eval @click="this.toggle">{this.isOn ? "ON" : "OFF"}</button>
</on-off-switch>

<script type="module">
    import { registerControllers, Controller } from '/static/js/binder/binder.js';

    class OnOffSwitch extends Controller {
        // The `init` method is called when the controller is first created
        // Use this to handle your setup logic
        init() {
            this.isOn = true;
        }
        
        // This is the click handler for the button
        // We manually trigger a render here to update the button text
        toggle() {
            this.isOn = !this.isOn;
            this.render()
        }
    }

    registerControllers(OnOffSwitch);
</script>
